/* 중앙 정렬 */
#mom {
  width: 90%;
  max-width: 600px; /* 최대 너비를 600px로 제한 */
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 가격 계산기 */
h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #343a40;
}

input[type="text"] {
  width: calc(100% - 20px); /*부모너비100%사용하고 20px빼기*/
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

/* 버튼인데 입력 안돼는거*/
input[type="button"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #77a031;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* 버튼 리스트 스타일 */
#button_list {
  margin-bottom: 20px;
}

/*나머지 버튼*/
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #0b4230;
  border-radius: 4px;
  background-color: #ffffff;
  color: #0c7825;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  white-space: pre-wrap; /* 줄 바꿈을 적용 */
}

button:hover {
  background-color: #aeaeae;
}

#cl {
  text-align: center;
}
